.App {
  text-align: center;
  background-color: #f4f4ff;
  width: 45%;
  height: 500px;
  border: 4px;
  border-style: solid;
  border-color: green;
  border-radius: 30px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  position: relative;
}

.mainForm input:focus {
  outline: none;
}

.mainForm input[type='text'] {
  background-color: rgb(227, 227, 245);
  font-size: 18px;
  border-radius: 15px;
  padding: 10px 20px;
  width: 50%;
  margin: 10px;
}

.mainForm input[type='submit'] {
  background-color: rgb(227, 227, 245);
  border-radius: 10px;
  font-size: 14px;
  width: 15%;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
}
